<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Automatic-Bluray-Ripping</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ripping">
                <image src="disc-fill.svg"  class="bi" aria-hidden="true"></image> Ripping
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="makemkv">
                <image src="file-video.svg" class="bi" aria-hidden="true"></image> Make MKV
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="configuretranscode">
                <image src="configure.svg" class="bi" aria-hidden="true"></image> Configure Transcode
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transcode">
                <image src="film.svg" class="bi" aria-hidden="true"></image> Transcode
            </NavLink>
        </div>

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <image src="settings.svg" class="bi" aria-hidden="true"></image> Settings
            </NavLink>
        </div> *@
    </nav>
</div>

