@page "/configuretranscode"
@rendermode InteractiveServer
@inject TranscodeManager Manager

<PageTitle>Transcode Configuration</PageTitle>

<h3>Configure Transcode</h3>

<div style="display: flex; flex-direction: column; justify-content: flex-start;gap:10px;">
	@foreach (MKVBackup backup in Manager.Backups)
	{
		<div style="padding: 10px; border-radius: 10px; background-color:lightblue;">
			<div>
				<div>
					<h3>@backup.Name</h3>

					<div style="display: flex; flex-direction: row; justify-content: flex-start; gap:10px; text-align: center;" @onclick:stopPropagation="true">
						<h4>Choose Transcode Preset:</h4>
						<select id="formatSelect" style="flex-grow: 1; " class="custom-form-control" @bind="backup.TranscodePreset">
							<option value="">-- Select a Format --</option>
							@foreach (string preset in Manager.Presets)
							{
								<option value="@preset">@Path.GetFileNameWithoutExtension(preset)</option>
							}
						</select>
					</div>
				</div>

				<button style="width: 100%; padding: 10px; margin-top: 10px" @onclick="() => Manager.AddToTranscodeQueue(backup)">
					Transcode
				</button>
			</div>

			@foreach (var category in backup.VideoCategories.Values)
			{
				<VideoCategory Category="@category" />
			}
		</div>
	}
</div>

@code {

	private void GoToTranscode()
	{
		
	}
}
