@page "/"
@rendermode InteractiveServer
@using MediaInfo;
@using MediaInfo.Model;
@inject NavigationManager Nav

<PageTitle>Transcode Configuration</PageTitle>

<div style="
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 15px;
width:fit-content;
">
	<div style="text-align: center; padding:10px; background-color: gray; border-radius: 10px;">
		<img style="width:200px; height:200px;" src="hdd.svg" />
		<h2>Backup Bluray</h2>
	</div>

	<div style="text-align: center; padding:10px; background-color: gray; border-radius: 10px;">
		<img style="width:200px; height:200px;" src="file-video.svg" />
		<h2>Make MKV</h2>
	</div>

	<div style="text-align: center; padding:10px; background-color: gray; border-radius: 10px;">
		<img style="width:200px; height:200px;" src="convert.svg" />
		<h2>Configure Transcode</h2>
	</div>
</div>

@code {

}
